#di{
    text-align: center;
    display: block;
    font-size: 50px;
    
    
}
button{
    font-size: 40px;
}
p{
    background-color: antiquewhite;
}
#bd{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}